.wrapper {
  margin-bottom: 30px;
  font-size: 16px;
}

.entryRole {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.entryTitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.title {
  color: #32404b;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.timeSpan {
  font-style: italic;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
