.wrapper {
  margin-bottom: 30px;
}

.entryTitle {
  border-bottom: 1px solid #3997dc;
  color: #32404b;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-decoration: none;
}

.entryTitle:hover {
  color: #3997dc;
}

.title {
  color: #32404b;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.timeSpan {
  font-style: italic;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.desc {
  font-size: 16px;
}
